:root {
    --color-background: #242424;
    --color-text: #f9f9f9;
    --color-card: #1b1b1b;
    --color-label: #aaaaaa;
    --color-primary: #44f6fd;
    --color-accent: #fffffa;
    --color-default: #363636;

    --lenght-md1: 1rem;
    --lenght-md2: 1.25rem;
    --lenght-md3: 1.5rem;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

.container {
    width: 900px;
    padding: 1rem;
}

.row {
    display: flex;
    gap: 1rem;
    margin-bottom: var(--lenght-md1);
}

.card {
    padding: 1rem;
    background: var(--color-card);
    border-radius: 1rem;
    flex-grow: 1;
}

.card.has-extra-padding {
    padding: 2rem 1.5rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-icon {
    font-size: 1.25em;
}

.card-h4 {
    margin-bottom: 4px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-label);
}

.card h3 {
    margin-bottom: var(--lenght-md1);
    color: var(--color-label);
    font-size: 1rem;
    font-weight: 500;
}

.card-h3.no-bottom-margin {
    margin-bottom: 0;
}

.card-h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.card-h2.has-bottom-margin {
    margin-bottom: 2rem;
}

.card-bar-chart {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 8rem;
    background: repeating-linear-gradient(rgba(255, 255, 255, 0.075) 0% 0.5%,
            transparent 0.5% 20%);
}

.card-bar-chart>div {
    display: grid;
    place-items: end;
}

.card-bar-chart>div>div {
    width: 1.25rem;
}

.card-bar-chart.is-gauge-chart>div>div {
    width: 3rem;
}

.card-bar-primary {
    background-color: var(--color-primary);
}

.card-bar-default {
    background-color: var(--color-default);
}

.card-headline-icon {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.104);
    border-radius: 50%;
}

.card-list {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 50%;
}

.card-headline {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-list-item {
    display: flex !important;
    align-items: center;
    gap: 0.5rem !important;
}

.card-list-badge {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: var(--color-primary);
}

.card-list-badge.primary {
    background: var(--color-primary);
}

.card-list-badge.accent {
    background: var(--color-accent);
}

.card-list-badge.default {
    background: var(--color-default);
}

.card-progress {
    padding: 1.5rem;
    width: 25%;
    text-align: center;
}

.card-progress-donut {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 50%;
    background: conic-gradient(var(--color-primary) 0% 33%,
            var(--color-default) 33% 100%);
}

.card-progress-donut::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    border-radius: inherit;
    background: var(--color-card);
}

.card-growth {
    width: 50%;
    padding: 1.5rem;
    text-align: center;
}

.card-growth-headlines {
    display: flex;
    justify-content: space-evenly;
}

.card-regions {
    width: 25%;
    padding: 1.1rem;
    text-align: center;
}

.card-activity,
.card-author {
    width: 50%;
}

.timeline {
    padding-top: 1.25rem;
}

.timeline-row {
    position: relative;
    display: flex;
    padding-bottom: 1rem;
}

.timeline-when {
    width: 3.5rem;
    min-width: 3.5rem;
    max-width: 3.5rem;
    font-size: 0.75rem;
}

.timeline-badge {
    width: 0.75rem;
    min-width: 0.75rem;
    max-width: 0.75rem;
    height: 0.75rem;
    margin: 1.5px 0.5rem 0;
    border-radius: 50%;
    background: var(--color-card);
    border: 3px solid var(--color-default);
}

.timeline-row.primary .timeline-badge {
    border-color: var(--color-primary);
}

.timeline-badge::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 4.5rem;
    width: 2px;
    height: 100%;
    background: var(--color-default);
}

.timeline-text {
    color: var(--color-label);
    font-size: 0.875rem;
}

.timeline-row.primary .timeline-text {
    color: var(--color-text);
}

.avatar {
    width: 3rem;
    height: 3rem;
}

ul>li>img {
    border-radius: 100%;
}

.avatar-list {
    list-style-type: none;
    padding: 0;
}

.avatar-list>li {
    display: flex;
    align-items: center;
    gap: var(--lenght-md1);
    margin-bottom: var(--lenght-md2);

}

.avatar-title,
.avatar-notes {
    line-height: 1.1;
    display: block;
}

.avatar-title {
    font-size: 1rem;
    margin-bottom: 3px;
}

.avatar-notes {
    color: var(--color-label);
    font-size: 0.875rem;
}

/* Tablet media queries */

@media only screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
}